<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">

    <php>
        <!-- Indique à WebTestCase quelle classe Kernel instancier -->
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_ENV"      value="test"/>
        <env name="APP_DEBUG"    value="1"/>
        <env name="DATABASE_URL"   value="mysql://root:root@127.0.0.1:3309/symfony"/>

        <!-- Si tu veux override des ini en dev : -->
        <!-- <ini name="memory_limit" value="-1"/> -->
    </php>

    <testsuites>
        <testsuite name="default">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <logging>
        <!-- Rapport Clover (XML) -->
        <log type="clover" target="build/logs/clover.xml"/>
        <!-- Rapport HTML de couverture -->
        <log type="coverage-html" target="build/coverage/html"/>
    </logging>
</phpunit>
